<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.onespringboot.mapper.UserMapper">
    <!--<select id="login" resultType="java.lang.Long" parameterType="com.springboot.onespringboot.bean.User">-->
    <select id="login" resultType="com.springboot.onespringboot.bean.User" parameterType="com.springboot.onespringboot.bean.User">
        select u.id,u.username from user u where username=#{username} and password =#{password}
    </select>
    <insert id="regist" parameterType="com.springboot.onespringboot.bean.User">
        insert into user (username,password,email) values(#{username},#{password},#{email})
    </insert>
    <select id="findUserByName" resultType="com.springboot.onespringboot.bean.User">
        select u.username, u.password from user u where u.username=#{userName}
    </select>
</mapper>