<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.springbootmybatisplus.mapper.UserMapper">

    <!-- 查找用户名是否存在 -->
    <select id="findUserByName" resultType="com.springboot.springbootmybatisplus.Bean.User">
        select u.username,u.password from user u where u.username=#{userName}
    </select>

    <!-- 注册用户 -->
    <insert id="regist" parameterType="com.springboot.springbootmybatisplus.Bean.User">
        insert into user (username,password,email) values(#{username},#{password},#{email})
    </insert>

    <!-- 用户登录 -->
    <select id="login" resultType="com.springboot.springbootmybatisplus.Bean.User" parameterType="com.springboot.springbootmybatisplus.Bean.User">
        select u.id,u.username from user u where username=#{username} and password =#{password}
    </select>

    <!-- 动态SQL案例 -->
    <select id="findUserList" resultType="com.springboot.springbootmybatisplus.Bean.User">
        select * from user
        <where>
            <if test="username!=null">
                and username like "%"#{username}"%"
            </if>
            <if test="email!=null">
                and email like "%"#{email}"%"
            </if>
        </where>
        limit #{pageNumber},#{pageSize}
    </select>
    <!-- set标签会自动判断哪个是最后一个字段，会自动去掉最后一个","号 -->
    <update id="putUser">
        update user
        <set>
            <if test="user.password!=null">
                password = #{user.password},
            </if>
            <if test="user.email!=null">
                email = #{user.email},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>